# Deprecated in favor of pantalla-kiosk-chromium@.service
[Unit]
Description=Pantalla_reloj Kiosk (Epiphany, deprecated) for user %i
After=pantalla-openbox@%i.service pantalla-dash-backend@%i.service
Requires=pantalla-openbox@%i.service
Wants=pantalla-openbox@%i.service pantalla-dash-backend@%i.service

[Service]
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
Environment=GDK_BACKEND=x11
Environment=WEBKIT_DISABLE_DMABUF_RENDERER=1
EnvironmentFile=-/var/lib/pantalla-reloj/state/session.env
ExecStartPre=/bin/sh -c 'test -r "$XAUTHORITY"'
ExecStartPre=/bin/sh -c 'DISPLAY=:0 XAUTHORITY="$XAUTHORITY" /opt/pantalla/bin/wait-x.sh'
ExecStartPre=/bin/sh -c 'for f in \
  /usr/local/share/applications/org.gnome.Epiphany.WebApp_PantallaReloj.desktop \
  /home/%i/.local/share/xdg-desktop-portal/applications/org.gnome.Epiphany.WebApp_PantallaReloj.desktop \
  /var/lib/pantalla-reloj/state/org.gnome.Epiphany.WebApp_PantallaReloj/app-id \
  /var/lib/pantalla-reloj/state/org.gnome.Epiphany.WebApp_PantallaReloj/desktop-id; do test -r "$f" || exit 3; done'
ExecStartPre=/usr/bin/pkill -u %U -x epiphany-browser || true
ExecStartPre=/usr/bin/pkill -u %U -f epiphany-browser || true
ExecStart=/usr/bin/epiphany-browser --application-mode --profile=/var/lib/pantalla-reloj/state/org.gnome.Epiphany.WebApp_PantallaReloj --new-window http://127.0.0.1
ExecStartPost=/usr/local/bin/pantalla-kiosk-verify
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
